<!DOCTYPE html>
<html lang="id">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
  </body>
</html>
